DONE
JUNK
.hg
book/
temp/
models/
build/
.pynative
*.pyc
*~
*.h5
*.o
*.os
*.a
*.so
pydoc/_build
.scons*
clstm.pb.cc
clstm.pb.h
clstmtrain
clstmfilter
clstmfiltertrain
clstmocr
clstmocrtrain
test-lstm
test-lstm2
clstm.py
clstm_wrap.cc
